Source: ubuntu-mate-guide
Section: doc
Priority: optional
Maintainer: Ubuntu MATE Team <ubuntu-mate-dev@lists.launchpad.net>
Build-Depends: debhelper (>= 10)
Standards-Version: 4.1.0
Homepage: https://github.com/ubuntu-mate/ubuntu-mate-guide
Vcs-Git: https://github.com/ubuntu-mate/distro-packages.git
Vcs-Browser: https://github.com/ubuntu-mate/distro-packages

Package: ubuntu-mate-guide
Architecture: all
Depends: ${misc:Depends}
Description: A guide to Ubuntu MATE
 The official Ubuntu MATE guide, to help new users navigate their system.
